@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Message"]</h2>

<div>
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/arthur-miranda-a1a3bb173/" target="_blank">LinkedIn</a>
</div>
<strong>Email:</strong> <a href="mailto:arthurdonds@gmail.com">arthurdonds@gmail.com</a>


