@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Message"]</h2>

<p> I'm Arthur Miranda, 21 y.o, from Brasília - Brazil.</p>
<p></p>

<div>
    <p>If you need to contact me:</p>
</div>
<div>
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/arthur-miranda-a1a3bb173/" target="_blank">LinkedIn</a>
</div>
<strong>Email:</strong> <a href="mailto:arthurdonds@gmail.com">arthurdonds@gmail.com</a>


